$mainBackground: rgb(152, 205, 48);
$mainElement: rgb(255, 255, 255);
$textButton: white;
$bodyButton: #FE5F1E;


$ipad: 1190px;
$ipad-mini:855px;
$ipad-ultra-mini:660px;

$mobile: 460px;
$mobile-mini: 350px;